<div class="productCart">
    <img src={{thumbnail}} title={{title}} alt={{title}} />
    <section>
        <span>$ {{price}}</span>
        <h5>
            {{title}}
        </h5>
    </section>
</div>